@import '~office-ui-fabric-react/dist/sass/References.scss';

//customCss Start
.customlabel{
  padding-top: 6px;
  font-weight: 700;
}
._disabledFieldsNewForm{
  background-color: red;
}
.disabledValue{
  //background-color: lightgray;
  padding-top: 6px;
  //font-weight: 630;
  display: flex;
  // justify-content: center;
  //border-radius: 0.2rem;
}
.required::after{
  content:" *";
  color:red;
}
.buttonCLass{
  display: flex;
  justify-content: center;
  background-color: green($color: #2d9747);
  margin-bottom: 10px;
}
.errorMessage{
  padding-left: 5px;
  color: red;
  font-size: 9pt;
}
.heading{
  display: flex;
  justify-content: center;
  background:#e7eff9;
  background-image : linear-gradient(0deg, #e7eff9 0%, #cfd6e6 74%);
}
._main-div{
  border: 1px solid grayscale($color: #d3cdcd);
}
.container_d99754c9{
  display: none;
}
#cancel{
  margin-left: 30px;
}
// #reset{
//   margin-left: 50px;
// }
.heading form div{
  justify-content: center;
}
//for spinner
#loading{
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
//customCss End

.pmoListForms {
  .container {
    max-width: 700px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    background-color: $ms-color-themeDark;
    padding: 20px;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .button {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 80px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }
}
